/* base */
*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #020202;
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #020202;
}

a.disabled {
  pointer-events: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input:focus-visible {
  outline: 1px solid black;
}

::placeholder {
  color: #919191;
  font-size: 16px;
  line-height: 1.5;
}



/* grid system */
.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col-4 {
  width: 33.3333%;
  flex: 0 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.col-6 {
  width: 50%;
  flex: 0 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.col-8 {
  width: 66.66666667%;
  flex: 0 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 768px) {
  .col-4, .col-6, .col-8 {
    width: 100%;
  }
}

/* material-icon */
.material-icons {
  font-size: 16px;
  line-height: 1;
  vertical-align: middle;
}

/* utilities */
.list-style {
  list-style: disc;
  padding-left: 2rem;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}


.display-1, .display-2, .display-3, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 900;
  line-height: 1.2;
}

.display-1 {
  font-size: 160px;
}

.display-2 {
  font-size: 120px;
}

.display-3 {
  font-size: 80px;
}

.h1 {
  font-size: 48px;
}

.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 32px;
}

.h4 {
  font-size: 28px;
}

.h5 {
  font-size: 24px;
}

.h6 {
  font-size: 20px;
}

.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}

@media (max-width:768px) {
  .h1-md {
    font-size: 48px;
  }

  .h2-md {
    font-size: 32px;
  }

  .h3-md {
    font-size: 28px;
  }

  .h4-md {
    font-size: 24px;
  }

  .h5-md {
    font-size: 20px;
  }

  .h6-md {
    font-size: 16px;
  }
}


.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-12 {
  padding-left: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mr-20 {
  margin-right: 20px;
}

@media (max-width:768px) {
  .mb-md-120 {
    margin-bottom: 120px;
  }

  .mb-md-64 {
    margin-bottom: 64px;
  }

  .mb-md-48 {
    margin-bottom: 48px;
  }

  .mb-md-32 {
    margin-bottom: 32px;
  }

  .mb-md-24 {
    margin-bottom: 24px;
  }

  .mb-md-16 {
    margin-bottom: 16px;
  }

  .mb-md-12 {
    margin-bottom: 12px;
  }
}

.row-gap-24 {
  row-gap: 24px;
}

@media (max-width:768px) {
  .row-gap-md-12 {
    row-gap: 12px;
  }
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.border-bottom {
  border-bottom: 1px solid #525252;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

@media (max-width:768px) {
  .d-md-block {
    display: block;
  }
}

.h-100 {
  height: 100%;
}

/* components */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.navbar-header {
  position: relative;
}

.navbar-brand {
  width: 244px;
  height: 40px;
}

.navbar-collapse {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #020202;
}

.navbar-header>.container {
  border-bottom: 1px solid #FFFFFF;
}

.navbar-header a:last-of-type {
  padding-right: 0px;
}

.navbar-toggler {
  display: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  border: 0;
}

.navbar-footer {
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (max-width:768px) {
  .navbar-header ul {
    display: none;
  }

  .navbar-brand {
    width: 147px;
    height: 24px;
  }

  .navbar-collapse.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-footer ul {
    order: 3;
    width: 100%;
    margin-top: 36px;
  }
}


.btn {
  cursor: pointer;
  border: 0;
  border-radius: 16px;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: transparent;
}

.btn.active {
  font-weight: 700;
  background-color: #F2F2F2;
}

.btn:hover, .text-white:hover {
  opacity: .8;
}

.btn-dark {
  background-color: white;
  border: 1px solid #F2F2F2;
}

.btn-dark:hover, .btn-dark:active {
  border: 1px solid #020202;
}

.btn-light {
  color: white;
  font-size: 20px;
  font-weight: 900;
  border: 1px solid #FFFFFF;
}

.btn-sm {
  padding: 8px 16px;
}

.btn-icon {
  padding: 20px 32px 20px 40px;
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 240px;
  margin-top: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 20px 0px #00000026;
  border-radius: 16px;
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu-end {
  min-width: 144px;
  right: 0;
}

.dropdown-item-text {
  font-size: 12px;
  color: #919191;
  font-weight: 700;
  padding-left: 32px;
  padding-right: 40px;
  margin-bottom: 8px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 40px 4px 32px;
  margin-bottom: 4px;
}

.dropdown-item:hover {
  background: #F2F2F2;
}

.dropdown-divider {
  width: 168px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 16px;
  margin-bottom: 24px;
}



.card {
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-layer {
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-img {
  transition: transform 0.25s;
  width: 100%;
}

.card-img:hover {
  transform: scale(1.5);
}

.card-body {
  border-bottom: 1px solid #F2F2F2;
  padding: 20px 32px;
  flex-grow: 1;
}

.card-body:nth-of-type(3), .card-body:nth-of-type(4) {
  display: flex;
  justify-content: space-between;
}

.card-body:last-of-type {
  border-bottom: 0;
}

.card-link {}

.card-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  margin-bottom: 12px;
}

.card-subtitle {
  font-weight: 700;
}


.pagination {
  display: flex;
  justify-content: flex-end;
}

.page-item {
  margin-right: 4px;
}

.page-item.active {
  background: #020202;
  border-radius: 16px;
}

.page-item.active .page-link {
  color: white;
}

.page-link {
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 12px 19px;
}

.qa-card {
  display: block;
}

.collapse {
  display: none;
  margin-top: 16px;
  padding-left: 40px;
}

.collapse.show {
  display: block;
}



/* others */
.deco {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  text-align: right;
}

@media (max-width: 768px) {
  .deco {
    margin-top: 180px;
  }
}


.border {
  border-radius: 16px;
  border: 1px solid #525252;
}

.border-body {
  padding: 20px 32px 140px 32px;
  flex-grow: 1;
}

.border-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #525252;
  padding: 20px 32px;
}

.bg-body {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
  border-radius: 16px;
  padding: 40px;
  /* 高度問題待解決 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media {
  display: flex;
}

.media img {
  margin-right: 16px;
}

.media h4 {
  margin-right: 4px;
}

.enterprise-wrapper {
  position: relative;
}

.enterprise {
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.enterprise::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.enterprise {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.enterprise::after,
.enterprise::before {
  content: '';
  position: sticky;
  width: 196px;
  height: 40px;
  top: 0;
}

.enterprise::before {
  left: 0;
  padding-right: 196px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);

}

.enterprise::after {
  right: 0;
  padding-left: 196px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
  transform: rotate(-180deg);
}

.enterprise li {
  margin-right: 20px;
}

.enterprise li:last-child {
  margin-right: 0px;
}

.enterprise img {
  width: 160px;
  height: 40px;
  max-width: initial;
}

.tools-section {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: white;
  color: #020202;
  border-radius: 160px;
}

@media (max-width: 768px) {
  .tools-section {
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 20px;
  }
}

.searchbar {
  position: relative;
  background-color: #F2F2F2;
  border-radius: 16px;
  padding: 20px 40px 20px 68px;
  border: 0;
  width: 100%;
  margin-bottom: 24px;
}

.searchbar-icon {
  position: relative;
}

.searchbar-icon .material-icons {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-100%);
  width: 24px;
  height: 24px;
  color: #919191;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.filter-btns {
  display: flex;
  gap: 8px;
}

@media (max-width: 1080px) {
  .filter-btns {
    order: 3;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 40px;
    overflow: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .filter-btns::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .filter-btns {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

@media (max-width: 768px) {
  .footer-section {
    flex-direction: column-reverse;
    gap: 40px
  }
}

.price {
  position: relative;
}

.price-link::after {
  content: "";
  position: absolute;
  inset: 0;
}


/* swiper */
.swiper {
  width: 100%;
}

.swiper-slide {
  height: auto;
}

.swiper-wrapper {
  margin-bottom: 48px;
}

.swiper-pagination-bullet {
  background-color: #525252;
}

.swiper-pagination-bullet-active {
  background-color: white;
  width: 12px;
  height: 12px;
}